ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}

.sun{
  padding-bottom: 20px;cursor: pointer;
}

ion-checkbox {
  --checkmark-color: white;
  --border-radius: 12px;
 
}

.checkbox-container {
  position: relative;      
}

ion-item{
  height: auto;
}


button:disabled{
  opacity: 0.5;
    }

    .marg{
      margin-right: 0 !important;
    }

    .back{
      width: 30px;height: 30px;color:white
    }

    .check{
      color:white; text-align: left;
    }

    .funnel{
      width: 30px;height: 30px;float: right;color:white; padding-right: 6px;
    }

    .settings{
      width: 30px;height: 30px;float: right;color:white; padding-right: 6px;
    }

    .itemss{
      margin-left: 15px;margin-top: 15px;
    }

    .name
    {font-weight: 700;font-size: 20px;}

    .descr{
      color: grey;margin-left: 15px;font-size: 14px;
    }

    .mar{
      margin-top: 7px;
    }

    .redd{
      color:red;font-size: 22px;
    }

    .info{
      color:red;font-size: 20px;
    }

    .note{
      color:rgb(235, 220, 15);font-size: 20px;margin-left: 0px;
    }

    .badge1{
      font-size: 15px;margin-left: 0px;margin-right: 10px;border-radius: 15px;
    }

    .chat{
      padding-left: 27px;position: absolute;font-size: 22px;color:gray;margin-top: 10px;margin-left: 9px;
    }

    .dis{
      margin-left: 36px;display:none
    }

    .taskDe{
      color: grey;word-wrap:normal;font-size:13px
    }

    .na{
      color: white;border-radius: 15px;font-size:10px
    }

    .complete{
      color: white;border-radius: 15px;font-size:10px
    }

    .dialogue{
      padding: 0;margin: 0;background-color: rgb(255, 230, 9);color:white;width: 45px;
    }

    .bubble{
      font-size: 24px;color:white
    }

    .removecircle{
      padding: 0;margin: 0;background-color: red;color:white;width: 45px;
    }

    .na-na{
      font-size: 24px;color:white
    }

    .settings-a{
      padding: 0;margin: 0;color:white;width: 45px;
    }

    .let{
      font-size: 24px;color:white
    }

    .no{
      background-color: transparent;
    }

    .button1{
      font-size: 35px;
    }

    .cursor-s{
      cursor: none;
    }

    .size-t{
      margin-left: 7px
    }