<ion-header>
  <ion-toolbar color="danger">
    <ion-list-header>
      <ion-icon [routerLink]="['/home']" class="back" name="arrow-back"></ion-icon>
      <ion-title class="check">Checklist</ion-title>
      <ion-icon class="funnel" name="funnel"></ion-icon>
      <ion-icon [routerLink]="['/settings-checklists/'+ id]" class="settings" name="settings">
      </ion-icon>

    </ion-list-header>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="row itemss">
    <ion-item lines="none">
      <ion-label class="name">{{taskName}}</ion-label>

    </ion-item>

    <div class="descr">

      {{taskDesc}}

    </div>


    <section *ngFor="let sub of allSubtasks">

      <ion-item-sliding>
        <ion-item class="mar" lines="none">
          <ion-checkbox *ngIf="sub.result ===null || (sub.result !==null && sub.result.na !==true) "
            [checked]="sub.result !==null &&sub.result.completed===true" class="checkbox-container"
            (ionChange)="markAsCompleted(sub, $event)" color="danger">
          </ion-checkbox>
          <ion-icon class="marg" *ngIf="sub.result!==null&& sub.result.na===true" class="redd" name="remove-circle">

          </ion-icon>


          <ion-label (click)="details(sub.id)" [ngClass]="{'sun': sub.result !==null && sub.result.note !== null}"
            class="size-t">
            {{sub.name}}
          </ion-label>



















          <ion-icon *ngIf="sub.urgent===true" class="info" name="information-circle" slot="end">
          </ion-icon>
          <ion-icon *ngIf="sub.important===true" class="note" name="star" slot="end"></ion-icon>
          <ion-badge *ngIf="sub.completeByTime!== '' && sub.completeByTime!== null " color="light" class="badge1"
            slot="end">
            {{sub.completeByTime}}</ion-badge>
          <ion-icon *ngIf="sub.result !==null && sub.result.note !== null" name="chatbubbles" class="chat">
          </ion-icon>



        </ion-item>


        <div [id]="sub.id" class="dis">
          <ion-label class="taskDe"> {{sub.description}}</ion-label>
          <div>
            <ion-badge *ngIf="sub.result!==null&& sub.result.na===true" color="danger" class="na">Mark
              as N/A by: {{sub.result.person.userName}} {{sub.result.person.lastName}}
              at {{sub.result.completedDateTime | date:'MMM d, y, H:mm'}}</ion-badge>
            <ion-badge *ngIf=" sub.result !==null&& sub.result.completed==true" color="danger" class="complete">Marked
              as completed by: {{sub.result.person.userName}} {{sub.result.person.lastName}}
              at {{sub.result.completedDateTime | date:'MMM d, y, H:mm'}}</ion-badge>
          </div>

        </div>



        <ion-item-options side="end">

          <button ion-button class="dialogue" (click)="noteDialog(sub)">
            <ion-icon class="bubble" name="chatbubble-outline">
            </ion-icon>
            Note
          </button>

          <button (click)="markAsNA(sub)" ion-button class="removecircle">
            <ion-icon class="na-na" name="remove-circle"></ion-icon>
            N/A
          </button>


          <button [routerLink]="['/subtask-settings/'+ sub.id]" ion-button class="settings-a">
            <ion-icon class="let" name="settings"></ion-icon>
            Settings
          </button>

        </ion-item-options>
      </ion-item-sliding>


    </section>




    <ion-item *ngIf="preview" lines="none">
      <ion-input [(ngModel)]="newSubtask" placeholder="Type a new subtask here"></ion-input>
      <button class="no" [disabled]="newSubtask ===''" (click)="addNewSubtask()">
        <ion-icon class="button1" button color="danger" name="checkbox"></ion-icon>
      </button>
    </ion-item>
  </ion-list>





  <ion-fab *ngIf="!preview" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="preview=!preview">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tab-button class="cursor-s">
      <ion-icon name="home" color="danger"></ion-icon>

    </ion-tab-button>
  </ion-toolbar>
</ion-footer>