<ion-item-sliding>
  <ion-item lines="none" [routerLink]="['/message/' + message.id]" *ngIf="message">

    <!-- <round-progress [current]="14" [max]="19"></round-progress> -->
    <p>{{message.name}}</p>

  </ion-item>


  <ion-item-options side="end">

    <button [routerLink]="['/settings-checklists/'+ message.id]" ion-button class="col">
      <ion-icon class="let" name="settings"></ion-icon>
      Settings
    </button>
    <button (click)="presentAlertMultipleButtons()" ion-button
      class="but">
      <ion-icon class="other" name="trash"></ion-icon>
      Delete
    </button>
  </ion-item-options>
</ion-item-sliding>