.my-width{
    width:600px;
}

.arrow{
    width: 30px;height: 30px;color:white
}
.setup{
    color:white; text-align: left;
}

.trash{
    width: 30px;height: 30px;float: right;color:white; padding-right: 6px;
}

.funnel{
    width: 30px;height: 30px;float: right;color:white; padding-right: 6px;
}

.label-text{
    color: grey;
}

.sty{
    word-wrap: break-word;font-size:13px
}

.descr{
    color: grey;word-wrap:normal;
}

.text-a{
    padding-bottom: 75px;
}

.floats{
    float: right;
}

.text-d{
    color: grey;float: right;width: 100%;
}
.marg{
    margin-left: 10px;
}

.trans{
    background-color: transparent;
}

.timeout{
    margin-right: 7px;font-size: 16px;
}

.buttonss{
    background-color: transparent;font-size: 16px;
}

.circle{
    margin-right: 7px;float: right;font-size :16px;color:gray;padding-right: 20px;
}

.point{
    cursor: none;
}




