<ion-header>
  <ion-toolbar color="danger">
    <ion-list-header>
      <ion-icon class="icstyle" name="menu"></ion-icon>
      <ion-title class="" class="title">Checklists</ion-title>
      <ion-icon class="filter" name="funnel"></ion-icon>
    </ion-list-header>
  </ion-toolbar>
</ion-header>


<ion-content #content [fullscreen]="true">


  <div class="main">
    <ion-chip outline color="dark">

      <ion-select color="danger" #select class="selection" #S (ionChange)="getCurrentDateForOutlet(S.value)"
        placeholder="Select One">
        <ion-select-option (selectionChange)="dejana(out.id)" *ngFor="let out of allOutlets" [value]="out.id">
          <b>{{out.name}}</b>
        </ion-select-option>
      </ion-select>
      <ion-icon class="col" name="location"></ion-icon>
    </ion-chip>
  </div>






  <ion-list class="pad">
    <app-message *ngFor="let message of checklists" [message]="message">

    </app-message>

  </ion-list>

  <ion-item *ngIf="checklistLabel===true">
    <ion-input [(ngModel)]="newChecklist" placeholder="Type a new checklist here"></ion-input>

    <button class="transparent" [disabled]="newChecklist==''" (click)="addNewChecklist()">

      <ion-icon class="text" button color="danger" name="checkbox"></ion-icon>

    </button>




  </ion-item>





  <ion-fab *ngIf="outletId!=='' && !checklistLabel" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="preview();">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tab-button class="mouse">
      <ion-icon name="home" color="danger"></ion-icon>

    </ion-tab-button>
  </ion-toolbar>
</ion-footer>