button:disabled{
opacity: 0.5;
  }

    
    [aria-checked=true] .alert-radio-inner {
      color: red;
    }

    .icstyle{
      width: 30px;
      height: 30px;
      color:white
    }

    .title{
      color:white;
       text-align: center;
    }

    .filter{
      width: 30px;height: 30px;float: right;color:white; padding-right: 6px;
    }

    .main{
      text-align: center;margin-top: 13px;
    }

    .selection{
      font-weight:bold;color:gray
    }
    .col{
      color:gray
    }

    .pad{
      padding-left: 15px;margin-top: 17px;
    }

    .transparent{
      background-color: transparent;
    }

    .text{
      font-size: 35px;
    }

    .mouse{
      cursor: none;
    }